.content{
  width: 50%;
  background: #4f000B;
  border: 5px #ce4257;
  border-style:dashed;
  padding: 20px 20px 20px 20px;
  color: #ce4257;
  margin: 0 auto;
}

a{
  color: #ff9b54;
}

a:hover{
  background: #720026;
}

html{
  background: #ffe066;
}
